@import "../App.scss";
.sort_container,
.values_container,
.sorter_button_container {
  @extend .horizontal_centering;
}
.sort_container {
  flex-direction: column;
}
.values_container {
  flex-direction: row;
  gap: 1%;
  height: 400px;
  color: #fff;
}
.single_value_container {
  align-self: flex-end;
  text-align: center;
}
.button_container {
  gap: 5px;
}
.bars {
  @extend .bars_uniform;
}
.sorter_button {
  @extend .global_button;
}
.sorter_button:hover {
  @extend .global_button, :hover
}
