@import '../../App.scss';
.bubbleSort_container, .values_container, .button_container {
    @extend .horizontal_centering;
}
.bubbleSort_container {
    flex-direction: column;
}
.values_container {
    flex-direction: row;
    gap: 1%;
    height: 400px;
}
.single_value_container {
    align-self: flex-end;
    text-align: center;
}
.bars {
    @extend .bars_uniform;
}
